<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.sibro.lucence.mapper.BookMapper">
    <!-- 查询名字记录sql -->
    <select id="queryBookList" resultType="com.sibro.lucence.dto.BookDTO">
        SELECT * FROM book WHERE 1=1;
    </select>
</mapper>